In [1]:
import numpy as np 
import pandas as pd 
import json 
from geopy.geocoders import Nominatim 
import requests 
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium

In [146]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') # get data from web
len(df) # len of df, there are 3 tables

3

In [147]:
df_pc_toronto = df[0] # 1st df is our necesary df
df_pc_toronto.shape

(180, 3)

Remove rows with 'Borough' equal 'Not assigned'

In [148]:
df_pc_toronto.drop(df_pc_toronto[df_pc_toronto['Borough'] == 'Not assigned'].index, axis=0, inplace = True)
df_pc_toronto['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

In [150]:
df_pc_toronto.reset_index(drop=True, inplace=True)

In [155]:
df_pc_toronto.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [156]:
df_pc_toronto.shape

(103, 3)

In [157]:
df_pc_toronto[df_pc_toronto['Neighbourhood'] == 'Not assigned'] # There is no Not assigned cells

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [158]:
print(df_pc_toronto.head())
print('Shape:', (df_pc_toronto.shape))

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
Shape: (103, 3)

In [159]:
df_pc_toronto.isna().count()

Postal Code      103
Borough          103
Neighbourhood    103
dtype: int64

In [160]:
df_pc = pd.read_csv('/home/cat/Downloads/Geospatial_Coordinates.csv')

In [161]:
df_pc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [162]:
df_pc_toronto['Latitude'] = "" # add empty columns for ll
df_pc_toronto['Longitude'] = ""

In [164]:
df_pc_toronto.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,,
1,M4A,North York,Victoria Village,,
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",,
3,M6A,North York,"Lawrence Manor, Lawrence Heights",,
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",,

Take post code from df_pc_toronto, seeking it in df_pc, write Latitude and Longitude

In [165]:
for data in df_pc_toronto.index:
    pc = df_pc_toronto.loc[data, 'Postal Code']
    latitude = df_pc[df_pc['Postal Code']==pc].Latitude.values[0]
    longitude = df_pc[df_pc['Postal Code']==pc].Longitude.values[0]
    df_pc_toronto.loc[data, 'Latitude'] = latitude
    df_pc_toronto.loc[data, 'Longitude'] = longitude

In [166]:
df_pc_toronto.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7533,-79.3297
1,M4A,North York,Victoria Village,43.7259,-79.3156
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.6543,-79.3606
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.7185,-79.4648
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.6623,-79.3895